{% extends "base.html" %}
{% load static %}

{% block title %}
Pricing | The Daily Draft
{% endblock title %}

{% block content %}



<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground">Find the right plan for your team</h2>
    <p class="mt-1 text-muted-foreground-2">Pay as you go service, cancel anytime.</p>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="relative before:absolute before:inset-0 before:-z-1 before:bg-[radial-gradient(closest-side,var(--color-surface-1),transparent)] mt-12">
    <div class="grid gap-px sm:grid-cols-2 lg:grid-cols-3 lg:items-center lg:justify-center lg:gap-8">

      {% for plan in plans %}
      <form action="" method="post">
        {% csrf_token %}
        <!-- Card -->
  <div class="bg-surface-1 rounded-lg border border-border-2 overflow-hidden">
    <div class="p-6 lg:p-8">
      <div class="flex justify-between items-start mb-4">
        <h3 class="text-lg font-semibold text-foreground">{{ plan.name }}</h3>
        <input type="hidden" name="plan_name" value="{{ plan.name }}">
        <span class="text-xl font-bold text-foreground">₹{{ plan.price }}</span>
        <input type="hidden" name="plan_price" value="{{ plan.price }}">
      </div>

      <ul class="space-y-3 mb-6 text-sm">
        {% for feature in plan.features %}
        <li class="flex items-start gap-x-3">
          <span class="mt-1 h-2 w-2 rounded-full bg-primary shrink-0"></span>
          {{ feature }}
        </li>
        {% endfor %}
      </ul>
      <button type="submit" name="select_plan" class="w-full py-2 px-4 rounded-md bg-blue-700 text-white hover:bg-blue-600 transition">Choose Plan</button>
    </div>
  </div>
  <!-- End Card -->

</form>
      {% endfor %}

   
    </div>
  </div>
  <!-- End Grid -->

</div>


{% endblock content %}



