 * {
     margin: 0;
     padding: 0;
 }

 .container {
     width: 300px;
     background-color: #DADAD9;
     border: 4px dashed #1F0000;
     border-radius: 20px;
     overflow: hidden;
     padding: 10px;
     margin: 20px;


 }

 #image1 {
     width: 100%;
     object-fit: cover;
 }

 .para {
     text-align: justify;
     line-height: 30px;
 }

 .btn {
     background-color: #F5D8CB;
     border: 2px solid #1F0000;
     border-radius: 20px;
     margin-top: 20px;
     padding: 10px 20px;
     box-shadow: 4px 4px 8px 0px #000000a3;
 }

 .btn:hover {
     background-color: #f8c6af;
     box-shadow: 7px 5px 9px 0px #000000a3;
     cursor: pointer;
 }


 .my-font1 {
     font-size: larger;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bolder;
     color: #1F0000;
 }